<% include ../partials/header %>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Select responsible teams</h1>
        </div>
		<form  class="new-form" action="/responsibleFor/<%=productId %>?_method=PUT" method="POST">
			<div class="class="form-group form-check"> 
				<input type="hidden" name="productId" value="<%= productId%>">	
					<% teams.forEach((team) => { %>
					<div class="form-check">
						<% if (responsibles.some(responsible => responsible.teamId === team.teamId)) { %>		
						<input class="form-check-input" type="checkbox" name= "teamIds" value="<%= team.teamId%>" checked>
						<% } else { %>
						<input class="form-check-input" type="checkbox" name= "teamIds" value="<%= team.teamId%>">
						<% } %>
				    	<label class="form-check-label"><%= team.name%></label>				
					</div>	    	
					<% }) %>		
			</div>

			<button class="mt-1 btn btn-outline-primary btn-sm">Update</button>   	
		</form>	
      </main>
    </div>
  </div>		

<% include ../partials/footer %>