<% include ../partials/header %>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= prodMgr.firstName%> <%= prodMgr.lastName%></h1>

        </div>
        <h2>Responsible Products</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>productId</th>
                <th>name</th>
                <th>deadline</th>
                <th>completed</th>
              </tr>
            </thead>
            <tbody>
              <% if (prods) { %>  
                <% prods.forEach((prod) => { %>            
                  <tr>
                    <td><%= prod.productId %></td>
                    <td><%= prod.name %></td>
                    <td><%= moment(prod.deadline).format('YYYY-MM-DD') %></td>
                    <td><%= prod.complete %></td>
                  </tr>
                <% }) %>  
              <% } %>                           
            </tbody>
          </table>
      </main>
    </div>
  </div>      
<% include ../partials/footer %>