<% include ../partials/header %>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">prodBoard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">              
          </div>
        </div>

        <h2>Product Managers</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>mgrId</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if (prodMgrs) { %>  
                <% prodMgrs.forEach((prodMgr) => { %>     
                  <tr>
                    <td><%= prodMgr.mgrId %></td>
                    <td><%= prodMgr.firstName %></td>
                    <td><%= prodMgr.lastName %></td>
                    <td><%= prodMgr.email %></td>
                    <td><a href="/productsMgrs/<%= prodMgr.mgrId %>" class="btn btn-outline-success btn-sm">More info</a></td>
                  </tr>
                <% }) %>  
              <% } %>                           
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

<% include ../partials/footer %>